/* * {
    box-sizing: border-box;
} */
.cppage{
    background-color: #F9FAFB;
    /* height: 100%; */
}
.container{
    /* height: 100vh; */
    width:70%;
    position: relative;

    margin:auto;
    padding: 10%;

    font-family: 'Inter';
    box-sizing: border-box;

}
.cppage input{
    padding-left:10px;
    box-sizing: border-box;
    border: 1px #CCCCCC solid;
    border-radius: 4px;
    height: 50px;
    width: 100%;
}
.title{
    color: '#111827';
    font-size: 32;
    font-weight: '700';
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.form{
    background-color:white;
    padding:30px 48px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:37px;
    
}
.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.labelTitle{
    color: #6B7280;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
textarea{
    border: 1px #CCCCCC solid;
    height:100px;
    padding: 10px;
    border-radius: 4px;
}
.splitSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:8px;

    
}
.categorySection{
    display: flex;
    flex:1;
    flex-direction: column;
}
/* .categorySelection{
    width:100%;
} */
.priceSection{
    flex:1;
    display:flex;
    flex-direction: column;
}
/* .priceSection input{
    height:50px;
} */
.imageSection{
    flex:2;
}
.stockSection{
    flex:1;
}
.imgPreview{
    height:200px;
    width:50%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width:auto;
    max-width: 100%;
    max-height: 100%;

}
.btn{
    background: #5048E5;
    border-radius: 4px;
    padding:0px 2rem;
}
.btn input{
    background: none;
    border: none;
    color:white;
    font-weight: 700;
    font-size: 14px;
}
input[type=file]{
    position: relative;
    
}
input[type=file]::file-selector-button{
    background: #5048E5;
    border-radius: 4px;
    color:white;
    font-weight: 700;
    font-size: 14px;

    border:none;
    position: absolute;
    right:0;
    height: 100%;
    margin:auto;
    align-items: center;
    content: "Upload";
}