.frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 0 5px 0 rgba(128, 127, 127, 0.2);
}


/* Image */
.frame .image {
    margin: 5vb;
    height: 45%;
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image .image-src {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Name */
.frame .name {
    margin-bottom: 2vh;
    margin-left: 2vw;
    font-size: 4vh;
    /* font-weight: 600; */
    font-family: 'Times New Roman', Times, serif;
}

/* Price */
.frame .price {
    margin-bottom: 2vh;
    margin-left: 2vw;
    font-size: 4vh;
    /* font-weight: 600; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/* Button */
.frame .buttons {
    margin-left: 2vw;
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons .button1 {
    width: 50%;
}
.buttons .button2 {
    width: 50%;
}