.footer {
  background-color: #111827;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.footer-mobile {
  background-color: #111827;
  padding-top: 15px;
  padding-bottom: 8px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

/* .candleaf-all {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 5vw;
  line-height: 10px;
  position: relative;
  width: 300px;
  margin-right: 50px;
} */

.icon-image-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 20px;
}

.icon-image-container-mobile {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 15px;
  margin-bottom: 10px;
}

.social-icons {
  position: relative;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.social-icons-mobile {
  position: relative;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
}

.group {
  height: 24px;
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-right: 5vw;
}

.group-mobile {
  height: 24px;
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/* .text-wrapper {
  color: #ffffff;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  position: relative;
  white-space: nowrap;
  width: fit-content;
} */